*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main{
    height: calc(100vh - 60px);
    /* background-color: 	#5080a1; */
    background-image: 	url("./icons/66998.jpg");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

header{
    background-color: #121212;
    height: 60px;
    display: flex;
    place-items: center;
    justify-content: space-between;
    
}
#logo{
    /* background-color: #fff; */
    color: #fff;
    padding-left: 10px;
}
#about{
    padding-right: 10px;
}
button{
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px;
    transition: all 0.4s ease;
}
button:hover{
    background-color: azure;
}
#box-container{
    margin: 0 auto;
display: flex;
justify-content: center;
flex-wrap: wrap;
width: 300px;
height: 300px;
border: none;
background-color: #f2f2f2;

/* background-image: url("./icons/preview.jpg");
background-size:300px 300px ; */

    /* margin: 0 auto;
    
background-color: #333;
display: grid;
grid-template-columns: repeat(3, minmax(100px, 1fr));
grid-template-rows: repeat(3, minmax(100px,1fr)); */
}
.box{
  user-select: none;
    height: 100px;
    width: 100px;
    display: flex;
    background-color: transparent;
    border-top: 4px solid #121212;
    border-right: 4px solid #121212;
    cursor: pointer;
    text-align: center;
    place-content: center;
    place-items: center;
      
    font-weight: 800;
    font-size: 50px;
}
.box.x{
    color:#ff4757;
    text-shadow: 0px 0px 6px #ff8b94;
}
.box.o{
    color:#1e90ff;
    text-shadow: 0px 0px 6px #ff8b94;
}
.box:nth-child(3n){
    border-right: none;

}
.box:nth-child(-n+3){
    border-top: none;
}

#players{
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #1e90ff;
    width: 300px;
    color: #fff;
    border-radius: 2px;
    max-width:300px;
}

#btn{
    padding: 10px;
    text-align: center;
}

#banner{
    color: #fff;
    position: absolute;
    background-color: #1e90ff;
    padding: 10px;
    width: 300px;
    border-radius: 4px;
    margin: 0 auto;
    left: 0%;
    right: 0%;
    height: 100px;
    place-content: center;
    text-align: center;
    display: none;
}